<script>
import { RouterLink } from 'vue-router';

const rows = [
  {
    name: 'Alex Brown',
    contact: 'Name@email.com',
    phone: '+3723434232',
    role: 'Admin',
    date: 'Feb 2, 2022',
    url: 'https://avatars.dicebear.com/api/avataaars/alesdfa65454x.svg'
  },
  {
    name: 'Ali Jaan',
    contact: 'Name@email.com',
    phone: '+3723434232',
    role: 'Cashier',
    date: 'Jan 20, 2021',
    url: 'https://avatars.dicebear.com/api/avataaars/qwasdfadaer.svg'
  },
  {
    name: 'Steve Haad',
    contact: 'Name@email.com',
    phone: '+3723434232',
    role: 'Accountant',
    date: 'March 13, 2019',
    url: 'https://avatars.dicebear.com/api/avataaars/s651321d6f5.svg'
  },
  {
    name: 'Sergi Krimov',
    contact: 'Name@email.com',
    phone: '+3723434232',
    role: 'Admin',
    date: 'May 20, 2018',
    url: 'https://avatars.dicebear.com/api/avataaars/245lasd65f4kdfg.svg'
  },
  {
    name: 'Abraham GOMEZ',
    contact: 'Name@email.com',
    phone: '+3723434232',
    role: 'Cashier',
    date: 'Feb 12, 2017',
    url: 'https://avatars.dicebear.com/api/avataaars/6a543132asdf.svg'
  },
  
];

export default {
  props: ['isUsers'],
  data() {
    return {
      rows,
    };
  },
};
</script>

<template>
  <!-- HTML goes here -->
  <div class="container page-container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="page-title">
        <h1>{{isUsers ? 'Users' : 'Customers'}}</h1>
        <p>Here you can manage customers</p>
      </div>
      <RouterLink class="btn btn-success" to="/users/new" v-if="isUsers">
        ADD NEW USER
      </RouterLink>
      <RouterLink class="btn btn-success" to="/customers/new" v-else>
        ADD NEW CUSTOMER
      </RouterLink>
    </div>
    <div class="table-wrapper shadow-sm">
      <div class="table-wrapper-header d-flex justify-content-between align-items-center">
        <h4>List of {{isUsers ? 'Users' : 'Customers'}}</h4>
        <div class="d-flex align-items-center">
          <input class="form-control form-control-sm" type="text" placeholder="Filter" style="margin-right: 16px" />
          <input class="form-control form-control-sm" type="text" placeholder="SEARCH TRAINING"
            style="margin-right: 16px" />
          <font-awesome-icon :icon="['fas', 'arrow-down-a-z']" style="margin-right: 8px" />
        </div>
      </div>
      <table class="table align-middle">
        <thead>
          <tr>
            <th>NAME</th>
            <th>CONTACT</th>
            <th>ROLE</th>
            <th>REGISTERATION DATE</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in rows">
            <td>
              <div class="name-cell">
                <div class="avatar"><img :src="row.url"/></div>
                <div class="content">
                  <p>{{ row.name }}</p>
                </div>
              </div>
            </td>
            <td><p style="margin-bottom: 0">{{ row.contact }}</p><small>{{row.phone}}</small></td>
            <td>{{ row.role }}</td>
            <td>{{ row.date }}</td>
            <td>
              <RouterLink to="/customers/edit" class="actions-icon">
                <font-awesome-icon :icon="['fas', 'ellipsis-vertical']" />
              </RouterLink>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-wrapper-footer d-flex justify-content-between align-items-center">
        <small>Displaying 1-10 Of 200</small>
        <div class="pagination">
          <span class="prev">
            <font-awesome-icon :icon="['fas', 'chevron-left']" style="margin-right: 8px" />
            Prev
          </span>
          <input type="text" value="4" />
          <span class="next">
            Next
            <font-awesome-icon :icon="['fas', 'chevron-right']" style="margin-left: 8px" />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.page-title h1 {
  font-size: 30px;
}

.page-title p {
  color: var(--color-gray);
}

.page-container {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.table-wrapper {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.table-wrapper-header,
.table-wrapper-footer {
  padding: 24px;
}

.table-wrapper-header>h4 {
  font-size: 20px;
}

.table-wrapper-footer>small {
  color: var(--color-gray);
}

table {
  margin-bottom: 0;
}

table>thead {
  background-color: #f9f2fd;
}

table th {
  padding: 10px 30px;
  color: #748cab;
  font-weight: 500;
}

table th:first-child {
  min-width: 5%;
}

table td {
  padding: 10px 30px;
  color: var(--color-gray);
}

table td:last-child {
  width: 1%;
  text-align: right;
}

tbody {
  border-top: none !important;
}

.name-cell {
  display: flex;
  align-items: center;
}

.name-cell .avatar {
  flex-shrink: 0;
  margin-right: 16px;
}

.name-cell .content p {
  color: var(--color-black);
  font-weight: 500;
  margin-bottom: 0;
}

.avatar {
  background-color: #f6faf1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
}

.actions-icon {
  padding: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.pagination>input {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #f6faf1;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  width: 2.5rem;
  text-align: center;
}

.pagination>.next {
  color: var(--color-green);
}

/* CSS goes here */
</style>
