<script setup></script>


<template>

  <div class="container page-container">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h1>Welcome back, manager!</h1>
          <p>Here’s what’s happening with your work today.</p>
        </div>
        <div>
          <button type="button" class="btn btn-success left-btn shadow-sm border-0">
            New Category
          </button>
          <button type="button" class="btn btn-success right-btn shadow-sm border-0">
            New Item
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="hstack gap-3">
        
        <div class="card mb-3 small-card shadow-sm border-0">
          <div class="row g-0">
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
              <div
                class="icon-wrapper d-flex justify-content-center align-items-center"
              >
                <font-awesome-icon :icon="['fas', 'wallet']" style="color: green" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">62,000</h5>
                <p class="card-text">Gross Sale</p>
              </div>
            </div>
          </div>
        </div>
       
        <div class="card mb-3 small-card shadow-sm border-0">
          <div class="row g-0">
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
              <div
                class="icon-wrapper d-flex justify-content-center align-items-center"
                style="background-color: rgba(233, 134, 92, 0.1)"
              >
                <font-awesome-icon :icon="['fas', 'list']" style="color: #E9865C" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">764</h5>
                <p class="card-text">Items</p>
              </div>
            </div>
          </div>
        </div>

         <div class="card mb-3 small-card shadow-sm border-0">
          <div class="row g-0">
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
              <div
                class="icon-wrapper d-flex justify-content-center align-items-center"
                style="background-color: rgba(38, 128, 235, 0.1)"
              >
                <font-awesome-icon :icon="['fas', 'dollar']" style="color: rgb(38, 128, 235)" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">342</h5>
                <p class="card-text">Discounts</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="hstack gap-3">
        
        <div class="card mb-3 large-card shadow-sm border-0">
          <div class="row g-0">
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
              >
            </div>
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-sm-6">
                   <h5 class="card-title">Gross Sale by Item</h5>
                  </div>
                  <div class="col-sm-3">
                    <select
                        class="form-select"
                        id="floatingSelectGrid"
                        aria-label="Floating label select example"
                        style="border: none"
                        >
                        <option selected>Last Year</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                </div>
                <img src="../assets/bar-graph.png" class="img-fluid mt-4" alt="../assets/bar-graph.png">
              </div>
          </div>
        </div>
       
        <div class="card mb-3 medium-card shadow-sm border-0">
          <div class="row g-0">
            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
            </div>
            <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-sm-6">
                   <h5 class="card-title">Sold Items</h5>
                  </div>
                  <div class="col-sm-6">
                    <select
                        class="form-select"
                        id="floatingSelectGrid"
                        aria-label="Floating label select example"
                        style="border: none"
                        >
                        <option selected>Last Year</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                </div>
                <img src="../assets/donut-graph.png" class="img-fluid mt-2" alt="../assets/donut-graph.png">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
/* CSS goes here */
.page-container {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.left-btn {
  background-color: white;
  color: var(--color-green);
  border: none
}
.right-btn {
  margin-left: 20px;
}
.icon-wrapper {
  background-color: var(--color-green-rgb);
  border-radius: 10px;

  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper-1 > svg {
  opacity: 1;
}
.small-card {
  width: 265px;
  border-radius: 10px;
}

.medium-card {
  width: 437px;
  height: 323px;
  border-radius: 10px
}

.large-card {
  width: 718px;
  height: 323px;
  border-radius: 10px
}

.card > .row {
  margin-bottom: 0;
}
</style>
