<template>
  <div class="container">
    <div class="row">
      <div class="landing card p-4">
        <h2>The most Reliable POS System</h2>
        <p>
          This project was developed as a final project by the following people:
        </p>
        <ul>
          <li>Chiunhau You</li>
          <li>Joanna Joa</li>
          <li>Aimilia-Marina Liosi</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 card p-4">
        <h3>A brief Introduction about POS</h3>
        <p>
          The point of sale or point of purchase is the time and place where a
          retail transcaction is completed. At the point of sale, the merchant
          calculates the amount owed by the customer, indicates the amount, may
          prepare an invoice for the customer, and indicates the options for the
          customer to make payment.
        </p>
      </div>

      <div class="quick-links col-sm-4 card p-4">
        <h3>Quick Links</h3>
        <ul class="sidebar">
          <a href="https://dis-group-1.herokuapp.com/" target="_blank"
            ><li>Demo link</li></a
          >
          <a
            href="https://dis-group1.atlassian.net/jira/software/projects/DIS/boards/1"
            target="_blank"
            ><li>Jira board</li></a
          >
          <a
            href="https://bitbucket.org/chiunhau/dis-group-1/src/master/"
            target="_blank"
            ><li>Bitbucket repo</li></a
          >
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3>Framework</h3>
        <p>
          The system is built on
          <a href="https://vuejs.org/" target="_blank">Vue.js</a>, a
          production-ready frontend framework. It provides several benefits:
        </p>
        <ul>
          <li>Reusable & configurable components</li>
          <li>Smoother page transition</li>
          <li>Scoped CSS to avoid classname conflicts</li>
          <li>Standard HTML/CSS syntax</li>
        </ul>
      </div>
      <div class="column">
        <h3>Git collaboration</h3>
        <p>
          We adopted a simplified version of
          <a
            href="https://docs.github.com/en/get-started/quickstart/github-flow"
            target="_blank"
            >Github flow</a
          >
          to make collaboration simple and possible.
        </p>
        <p>
          The master branch is always ready for deployment. Everyone is required
          to create a feature branch from the master and open a Pull Request
          back to the master branch whenever they work on a feature or a bugfix.
        </p>
      </div>
      <div class="column">
        <h3>CI/CD</h3>
        <p>
          We use
          <a
            href="https://bitbucket.org/product/features/pipelines"
            target="_blank"
            >Bitbucket Pipelines</a
          >
          to automatically deploy the to
          <a href="https://www.heroku.com/" target="_blank">Heroku</a> whenever
          a new commit is pushed to the remote master branch.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="c sidec">
        <h3>Column 1</h3>
        <p>
          The point of sale or point of purchase is the time and place where a
          retail transcaction is completed. At the point of sale, the merchant
          calculates the amount owed by the customer, indicates the amount, may
          prepare an invoice for the customer, and indicates the options for the
          customer to make payment.
        </p>
      </div>
      <div class="c middlec">
        <h3>Column 2</h3>
        <p>
          The point of sale or point of purchase is the time and place where a
          retail transcaction is completed. At the point of sale, the merchant
          calculates the amount owed by the customer, indicates the amount, may
          prepare an invoice for the customer, and indicates the options for the
          customer to make payment.
        </p>
      </div>
      <div class="c sidec">
        <h3>Column 3</h3>
        <p>
          The point of sale or point of purchase is the time and place where a
          retail transcaction is completed. At the point of sale, the merchant
          calculates the amount owed by the customer, indicates the amount, may
          prepare an invoice for the customer, and indicates the options for the
          customer to make payment.
        </p>
      </div>
    </div>
  </div>
</template>

<style>
/* Front-page's css code goes here */

* {
  box-sizing: border-box;
}

.landing {
  margin: 0 auto;
  padding: 3em;
  margin-top: 3em;
}

.leftcolumn {
  float: left;
  width: 65%;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
}

.quick-links {
  border-left: 5px solid blue;
}

ul.sidebar {
  background-color: var(--bs-gray-dark);
  list-style: none;
  color: white;
  padding-left: 0;
}

ul.sidebar li {
  padding: 10px;
  border-bottom: 1px solid #3c3c3c;
}

ul.sidebar a {
  color: wheat;
  text-decoration: none;
}

.row {
  margin-bottom: 1em;
}

.column {
  float: left;
  width: 33.33%;
  border: 1px solid green;
  padding: 20px;
}

.c {
  float: left;
  padding: 20px;
  border: 1px solid green;
}

.c.sidec {
  width: 25%;
}

.c.middlec {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn,
  .column,
  .c.middlec,
  .c.sidec {
    width: 100%;
    float: none;
  }
  .landing {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
