<script setup>
import { RouterLink } from 'vue-router';
</script>

 <template>

  <div
      class="
        d-flex
        align-content-center
        flex-wrap flex-column
        bd-highlight
        mb-3
        mt-3
      "
    >
      <div class="mb-auto bd-highlight">
        <h2>Edit Item</h2>
      </div>
      <div class="bd-highlight">
        <p>This information will be displayed on the front page</p>
      </div>
      <div class="row">
        <div class="col-sm-8 mb-3">
          <input
            type="text"
            class="form-control"
            id="itemName"
            aria-describedby="itemNameHelp"
            value="Lasagna"
          />
        </div>
        <div class="col mb-3">
          <select
            class="form-select"
            id="floatingSelectGrid"
            aria-label="Floating label select example"
          >
            <option selected>Main Dish</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 mb-3">
          <input
            type="text"
            class="form-control"
            id="price"
            aria-describedby="priceHelp"
            value="18.50"
          />
        </div>
        <div class="col-sm-4 mb-3">
          <input
            type="text"
            class="form-control"
            id="cost"
            aria-describedby="costHelp"
            value="20.00"
          />
        </div>
        <div class="col mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <span
              id="checkboxHelpInline"
              class="form-text"
              for="flexCheckChecked"
            >
              This item is available for sale
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-3">
        <RouterLink
            class="btn left-btn"
            type="submit"
            style="text-transform: uppercase"
            to="/items"
          >
            <font-awesome-icon :icon="['fas', 'trash-can']" style="margin-right: 8px" />
            Delete
          </RouterLink>
        </div>
        <div class="col-sm-3">
          <RouterLink
            class="btn btn-success"
            type="submit"
            style="text-transform: uppercase"
            to="/items"
          >
           <font-awesome-icon :icon="['fas', 'floppy-disk']" style="margin-right: 8px" />
            Save
          </RouterLink>
        </div>
      </div>
    </div>

</template>



<style>
.left-btn {
  background-color: white;
  color: red;
}
</style>