<script setup></script>

<template>
  <!-- HTML goes here -->
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center full-height">
      <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title"><strong>Sign in to your POS account!</strong></h5>
                  <p>Use your valid username and password</p>
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Username or Email">
                    </div>
                    <br/>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <br/>
                    <div class="form-group">
                      <RouterLink  to="/dashboard" type="submit" class="btn btn-success form-control">LOGIN</RouterLink>
                    </div>
                  </form>
                  <br/>
                  <p class="text-muted">Forgot Password? <RouterLink to="/reset-password" class="text-success">RESET</RouterLink></p>
              </div>
          </div>
      </div>
    </div> 
  </div>  
</template>

<style>
/* CSS goes here */
 


@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn,
  .column,
  .c.middlec,
  .c.sidec {
    width: 100%;
    float: none;
  }
  .landing {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

</style>
