<script setup></script>

<template>
  <!-- HTML goes here -->
  

  <div class="container full-height">
    <div class="row align-items-center">
      <div class="col-md-10 col-sm-11">
        <h3><strong>Permissions</strong></h3>
        <p>Set Permissions for the <strong>Administrator</strong></p>
      </div>
      <div class="col-md-2 col-sm-1 text-end">
        <button type="submit" class="btn btn-success btn-md btn-main">NEW PERMISSION</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 card-list-title"><h5><strong>Permissions List</strong></h5></div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Manage Accounts</strong></span><br>
                      <span class="chbx-des">The user can manage accounts with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Manage Roles</strong></span><br>
                      <span class="chbx-des">The user can manage roles with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Create User</strong></span><br>
                      <span class="chbx-des">The user can create accounts with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Edit User</strong></span><br>
                      <span class="chbx-des">The user can edit users with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Delete User</strong></span><br>
                      <span class="chbx-des">The user can delete users with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>View User</strong></span><br>
                      <span class="chbx-des">The user can view users with this permission</span>
                    </div>
                  </div>
                </div>
                 <div class="col-md-4">
                   <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Manage Items</strong></span><br>
                      <span class="chbx-des">The user can manage items with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Manage Categories</strong></span><br>
                      <span class="chbx-des">The user can manage categories with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Create Receipts</strong></span><br>
                      <span class="chbx-des">The user can create receipts with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Print Receipts</strong></span><br>
                      <span class="chbx-des">The user can print receipts with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Generate Reports</strong></span><br>
                      <span class="chbx-des">The user can generate reports with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Search Users</strong></span><br>
                      <span class="chbx-des">The user can search users with this permission</span>
                    </div>
                  </div>
                </div>
                 <div class="col-md-4">
                   <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Manage Accounts</strong></span><br>
                      <span class="chbx-des">The user can manage accounts with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Manage Customers</strong></span><br>
                      <span class="chbx-des">The user can manage customers with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Create Customer</strong></span><br>
                      <span class="chbx-des">The user can create customers with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked/>
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Edit Customer</strong></span><br>
                      <span class="chbx-des">The user can edit customers with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>Delete Customer</strong></span><br>
                      <span class="chbx-des">The user can delete customers with this permission</span>
                    </div>
                  </div>
                  <div class="flex-box">
                    <div class="mr-10"> 
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <div> 
                      <span class="chbx-title"><strong>View Customer</strong></span><br>
                      <span class="chbx-des">The user can vies customers with this permission</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
/* CSS goes here */

h3{
  padding-top: 30px;
}

/* Margin for checkbox */
.mr-10{
  margin-right: 10px;
}

/* Checkbox Title */
.chbx-title{
  font-size: 14px;
}

/* Checkbox Description */
.chbx-des{
  font-size: 11px;
}

.form-check-input:checked {
  background-color: var(--color-green);
}

/* Card List Title */
.card-list-title{
  margin-left: 2em;
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn,
  .column,
  .c.middlec,
  .c.sidec {
    width: 100%;
    float: none;
  }
  .landing {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

</style>
