<script setup></script>

<template>
  <!-- HTML goes here -->
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center full-height">
      <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title"><strong>Reset Password</strong></h5>
                  <p>Enter your email address to receive instructions</p>
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <br/>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success form-control">RESET PASSWORD</button>
                    </div>
                  </form>
                  <br/>
                  <p class="text-muted">Remember my Password? <RouterLink to="/login" class="text-success">LOGIN</RouterLink></p>
              </div>
          </div>
      </div>
    </div> 
  </div>  
</template>

<style>
/* CSS goes here */


@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn,
  .column,
  .c.middlec,
  .c.sidec {
    width: 100%;
    float: none;
  }
  .landing {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

</style>
