<script setup></script>

<template>
  <!-- HTML goes here -->
  <div class="container full-height">
    <div class="row d-flex justify-content-center align-items-top card-mg-top full-height">
      <div class="col-lg-5 col-md-5 col-sm-12">
          <div class="card card-bg-cl">
              <div class="card-body">
                  <h5 class="card-title"><strong>New User</strong></h5>
                  <p>Kindly use the following form to register a new user.</p>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name" aria-label="First name">
                    </div>
                    <br/>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Last Name" aria-label="Last name">
                    </div>
                    <br/>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <br/>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Mobile Number">
                    </div>
                    <br/>
                    <div class="form-goup row">
                      <div class="col">
                        <select class="form-select slc-mg-btm">
                          <option selected disabled>Gender</option>
                          <option value="1">Female</option>
                          <option value="2">Male</option>
                          <option value="3">Non-binary</option>
                          <option value="4">-</option>
                        </select>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Age" >
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Location">
                    </div>
                    <br/>
                    <div class="form-goup row">
                      <div class="col">
                        <select class="form-select slc-mg-btm">
                          <option selected disabled>Role</option>
                          <option value="1">Administrator</option>
                          <option value="2">General Manager</option>
                          <option value="3">Cashier</option>
                          <option value="4">Accountant</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <RouterLink  to="/users" type="submit" class="btn btn-success add-btn form-control">ADD USER</RouterLink>
                    </div>
                  </form>
              </div>
          </div>
      </div>
    </div> 
  </div>  
</template>

<style scoped>
/* CSS goes here */

.card-bg-cl{
  background-color: #f6faf1;
  border-color: #f6faf1;
}

.card-mg-top{
  margin-top: 44px;
}

.slc-mg-btm{
  margin-bottom: 0.5em;
}

.add-btn{
  max-width: 150px;
  float: right;
}

</style>
