<template>
  <div class="footer">
    <p>&copy; 2022 DIS Group 1 <a href="">info@master.eu</a></p>
  </div>
</template>

<style>
.footer {
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}
</style>
