<script>
import TopNavigation from './TopNavigation.vue';
import TopNavigationLoggedIn from './TopNavigationLoggedIn.vue';
import Sidebar from './Sidebar.vue';
import Footer from './Footer.vue';

export default {
  components: {
    TopNavigation,
    TopNavigationLoggedIn,
    Sidebar,
    Footer,
  },
  data() {
    return {
      currentRoute: this.$router.currentRoute,
      noAuthPaths: ['/login', '/reset-password', '/'],
    };
  },
};
</script>

<template>
  <div class="layout">
    <TopNavigation v-if="noAuthPaths.includes(currentRoute.path)" />
    <TopNavigationLoggedIn v-else />
    <div class="main">
      <div
        class="sidebar shadow-sm"
        v-if="!noAuthPaths.includes(currentRoute.path)"
      >
        <Sidebar />
      </div>
      <div class="flex-fill">
        {{}}
        <slot></slot>
      </div>
    </div>
    <Footer />
  </div>
</template>

<style scoped>
.main {
  display: flex;
  position: relative;
  align-self: flex-start;
  min-height: calc(100vh - 60px);
}
.sidebar {
  position: sticky;
  top: 56px;
  align-self: stretch;
  width: 240px;
  background-color: white;
}
</style>
