<script>
// export default {
//   props: {
//     columns: Array,
//     data: Array,
//   },
// };

const columns = [
  { title: 'Name', id: 'name' },
  { title: 'Category', id: 'category' },
  { title: 'Cost', id: 'cost' },
  { title: 'Quantity', id: 'quantity' },
  { title: 'Actions', id: 'actions' },
];

const data = [
  {
    name: 'Lasagna',
    category: 'Main Dishes',
    price: 23,
    cost: 20,
    quantity: 245,
    actions: 'Y',
  },
];

export default {
  data() {
    return {
      columns,
      data,
    };
  },
};
</script>

<template>
  <table class="table table-hover">
    <thead>
      <tr>
        <th v-for="col in columns">{{ col.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in data">
        <td v-for="col in columns">{{ row[col.id] }}</td>
      </tr>
    </tbody>
  </table>
</template>

<style scoped></style>
