<script>
import { RouterLink } from 'vue-router';
// this is must have

export default {
  data() {
    return {
      items: [
        {
          title: 'DASHBOARD',
          items: [
            {
              title: 'Dashboard',
              to: '/dashboard',
              fa: 'fa-solid fa-square-poll-vertical',
            },
            {
              title: 'Sales By Item',
              to: '/sales-by-item',
              fa: 'fa-solid fa-tag',
              disabled: true,
            },
            {
              title: 'Sales By Category',
              to: '/sales-by-category',
              fa: 'fa-solid fa-chart-line',
              disabled: true,
            },
            {
              title: 'Customers',
              to: '/customers',
              fa: 'fa-solid fa-user-group',
            },
            {
              title: 'Item List',
              to: '/items',
              fa: 'fa-solid fa-clipboard-list',
            },
            {
              title: 'Categories',
              to: '/categories',
              fa: 'fa-solid fa-list',
              disabled: true,
            },
          ],
        },
        {
          title: 'USERS',
          items: [
            {
              title: 'Users',
              to: '/users',
              fa: 'fa-solid fa-user-group',
            },
            {
              title: 'Role',
              to: '/role',
              fa: 'fa-solid fa-list',
              disabled: true,
            },
            {
              title: 'Permissions',
              to: '/permissions',
              fa: 'fa-solid fa-square-check',
            },
          ],
        },
      ],
    };
  },
};
</script>
<template>
  <div class="sidebar">
    <ul class="sidebar-nav">
      <li v-for="item in items">
        <h5>{{ item.title }}</h5>
        <ul>
          <li v-for="innerItem in item.items">
            <RouterLink
              :to="innerItem.to"
              :class="
                'link-secondary ' + ((innerItem.disabled && 'disabled') || '')
              "
            >
              <span class="icon-wrapper">
                <font-awesome-icon
                  :icon="['fas', innerItem.fa.split(' ')[1].substring(3)]"
                />
              </span>
              {{ innerItem.title }}
            </RouterLink>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.sidebar {
  padding: 3rem 0;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav > li {
  margin-bottom: 2rem;
}

.sidebar-nav > li > h5 {
  color: var(--color-gray);
  font-size: 1rem;
  margin-bottom: 16px;
  padding: 12px 2rem;
}

.sidebar-nav > li > ul > li > a {
  display: inline-block;
  padding: 12px 2rem;
  color: var(--color-gray);
  width: 100%;
}

.sidebar-nav > li > ul > li > .router-link-active {
  color: var(--color-green);
  background: #f6faf1;
}

.sidebar-nav > li > ul > li > .router-link-active:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--color-green);
}

.icon-wrapper {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
  margin-right: 4px;
}

.disabled {
  pointer-events: none;
  opacity: 0.75;
}
</style>
