<script setup>
import { RouterLink } from 'vue-router';
</script>

<template>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top"
  >
    <div class="container-fluid">
      <RouterLink class="navbar-brand text-success" to="#">
        <strong>POS</strong>
      </RouterLink>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item">
            <RouterLink class="nav-link active" aria-current="page" to="#">
              About Us
            </RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link active" aria-current="page" to="#">
              Contact Us
            </RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink class="nav-link active" aria-current="page" to="#"
              >Branches</RouterLink
            >
          </li>
        </ul>
        <RouterLink to="" class="p-2">
          <span class="fi fi-il"></span>
        </RouterLink>
        <RouterLink to="/login" class="btn btn-success" type="button">
          Login
        </RouterLink>
      </div>
    </div>
  </nav>
</template>
