<script setup>
import { RouterLink } from 'vue-router';
</script>

<template>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top"
  >
    <div class="container-fluid">
      <RouterLink class="navbar-brand text-success" to="/dashboard">
        <strong>POS</strong>
      </RouterLink>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex mar-lef">
          <div class="input-group">
            <div class="input-group-text">
              <font-awesome-icon :icon="['fas', 'magnifying-glass']" />
            </div>
            <input
              class="form-control form-control-sm me-2 tp-nv-l-i"
              type="search"
              placeholder="Search..."
              aria-label="Search"
            />
          </div>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown tp-nv-l-i">
            <RouterLink
              class="nav-link dropdown-toggle"
              to="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              style="padding-top: 4px; padding-bottom: 4px"
              aria-expanded="false"
            >
              Filter
            </RouterLink>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <RouterLink class="dropdown-item" to="/items">Items</RouterLink>
              </li>
              <li>
                <RouterLink class="dropdown-item" to="/customers"
                  >Customers</RouterLink
                >
              </li>
              <li>
                <RouterLink class="dropdown-item" to="/users">Users</RouterLink>
              </li>
            </ul>
          </li>
        </ul>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase"></ul>
          <RouterLink to="#" class="p-2">
            <span class="fi fi-il fi-lg"></span>
          </RouterLink>
          <RouterLink to="#" class="p-2">
            <span class="fa-regular fa-bell fa-lg dark-icon"></span>
          </RouterLink>
          <RouterLink to="#" class="p-2">
            <span class="fa-solid fa-user fa-lg dark-icon"></span>
          </RouterLink>
        </div>
      </div>
    </div>
  </nav>
</template>

<style scoped>
.navbar {
  background-color: white !important;
}
.dark-icon {
  color: black;
}

.mar-lef {
  margin-left: 16vw;
}

.input-group-text,
.tp-nv-l-i {
  background-color: #f6faf1;
  border-color: #f6faf1;
}

.tp-nv-l-i {
  min-width: 200px;
}

.tp-nv-l-i.dropdown {
  min-width: 100px;
}

.dropdown-toggle::after {
  position: relative;
  left: 32px;
}
</style>
