/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-white-soft: #f6f8f2;
  --color-gray: #575a7b;
  --color-gray-dark: #31393c;
  --color-black: #050505;

  --color-green: #1cbe20;
  --color-green-rgb: rgba(28, 190, 32, 0.1);
}

*:focus {
  outline-color: var(--color-green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

#app {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  color: var(--color-gray-dark);
  background: var(--color-white-soft);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: 'Poppins', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* This is to fix the height of the page for the Cards in the Login and ResetPassword page to be centered */
.full-height {
  min-height: 100vh;
}

/* The default button class of the main pages of the website */
.btn-main {
  font-size: 11px;
  padding: 10px 30px;
}

/* For the checkboxes in permission page */
.flex-box {
  display: flex;
  align-items: center;
  margin: 14px;
}

.btn {
  border-radius: 8px;
  font-size: 14px;
  padding: 0.75rem 1.5rem;
}

.btn.btn-success {
  background-color: var(--color-green);
  border: none;
}
