<script setup>
import { RouterView } from 'vue-router';
import Layout from './components/Layout.vue';
</script>

<template>
  <Layout>
    <RouterView />
  </Layout>
</template>

<style>
@import '@/assets/base.css';
</style>
